.ui-dialog-titlebar .ui-widget-header .ui-helper-clearfix .ui-corner-top .ng-tns-c55-1 .ng-star-inserted {
    background: none !important;
    background-image: none !important;
    background-color: #fff !important;
}

.ui-dialog .ui-dialog-titlebar {
    background: none !important;
    background-image: none !important;
    background-color: #fff !important;
}